<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.cpt001ConnectionString"
            connectionString="Data Source=DESKTOP-NCODR8E\SQLEXPRESS;Initial Catalog=cpt001;User ID=sa;Password=10061994"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>